*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  /* background-color: rgb(92, 8, 161); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(86, 9, 121, 1) 33%,
    rgba(7, 157, 187, 1) 100%
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3.5em;
  gap: 0.4em;
  justify-content: center;
}
.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--ligthness, 51%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.3em;
  /* border: 0.06em solid black; */
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}
.key > svg {
  width: 1.5em;
  height: 1.5em;
}
.key:hover,
.key:focus {
  --lightness-offset: 10%;
}
.key.wrong {
  --ligthness: 23%;
}

/* It is important to put these in order since the one that is below overrides the ones above, I think */
.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  /* background-color: rgba(209, 217, 232, 0.074); */
  color: white;
  border: 0.04em solid black;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
  transition: transform 250ms linear;
}

.tile[data-state="active"] {
  border-color: hsl(210, 3%, 65%);
}
.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 5%, 30%);
}
.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(40, 50%, 50%);
}
.tile[data-state="correct"] {
  border: none;
  background-color: hsl(120, 50%, 50%);
}

.tile.shake {
  animation: shake 300ms ease-in-out;
}
.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 2em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
} */

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.3em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert:last-child {
  margin-bottom: 0;
}
.alert.hide {
  opacity: 0;
}
